<h2>formulario</h2>
<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">

    <div>
        <input 
        placeholder="Name" 
        name="name" 
        [(ngModel)]="user.name" 
        class="form-control my-2"
        required
        #name="ngModel">

        @if (name.invalid && (name.dirty || name.touched)) {
            @if (name.errors!['required']) {
               <div class="text-danger">
                    Nombre es requerido
                </div> 
            }
        }
    </div>
    <div>
        <input 
        placeholder="Lastname" 
        name="lastname" 
        [(ngModel)]="user.lastname" 
        required
        class="form-control my-2"
        #lastname="ngModel">

        @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
            @if (lastname.errors!['required']) {
               <div class="text-danger">
                    Lastname es requerido
                </div> 
            }
        } 

    </div>
    <div>
        <input 
        placeholder="Email" 
        name="email" 
        [(ngModel)]="user.email" 
        class="form-control my-2"
        type="email"
        required
        email
        #email="ngModel">

        @if (email.invalid && (email.dirty || email.touched)) {
            @if (email.errors!['required']) {
               <div class="text-danger">
                    Email es requerido
                </div> 
            }
            @if (email.errors!['email']) {
                <div class="text-danger">
                     El email no tiene el formato correcto!
                 </div> 
             }
        } 
    </div>
    <div>
        <input 
        placeholder="username" 
        name="username" 
        [(ngModel)]="user.username" 
        class="form-control my-2"
        required
        minlength="8"
        #username="ngModel">

        @if (username.invalid && (username.dirty || username.touched)) {
            @if (username.errors!['required']) {
                <div class="text-danger">
                    Username es requerido
                </div>
            }
            @if (username.errors!['minLenght']) {
                <div class="text-danger">
                    El username debe de tener al menos 8 caracteres!
                </div>
            }
        }
    </div>
    <div>
        <input 
        placeholder="password" 
        name="password" 
        type="password" 
        [(ngModel)]="user.password" 
        class="form-control my-2"
        required
        minlength="6"
        #password="ngModel">
        @if (password.invalid && (password.dirty || password.touched)) {
            @if (password.errors!['required']){
               <div class="text-danger">
                    Password es requerido
                </div> 
            }
            @if (password.errors!['minlenght']) {
                <div class="text-danger">
                    Tu password debe de tener al menos 6 caracteres!
                </div>
            }
        } 
    </div>

    <div>
        <button 
        type="submit" 
        class="btn btn-primary my-2"
        [disabled]="userForm.invalid">
            Create
        </button>
    </div>

</form>